pytubefix
ffmpeg-python>=0.2.0
faster-whisper>=1.2.1
torch
cuda-python
moviepy>=1.0.3
numpy>=1.24.0
pillow>=10.0.0
requests>=2.31.0
edge-tts>=6.1.9
gradio>=4.44.1
opencv-python-headless>=4.10.0
mediapipe
protobuf>=3.20,<4.25.0
google-auth-oauthlib>=1.2.0
google-api-python-client>=2.100.0
llama-cpp-python
instructor>=1.0.0
pydantic>=2.0.0
huggingface_hub>=0.25.0
