pytubefix

ffmpeg-python
faster-whisper
torch
cuda-python
moviepy
numpy
pillow
requests
edge-tts
gradio
opencv-python-headless
mediapipe
google-auth-oauthlib
google-api-python-client
llama-cpp-python
instructor>=0.5.0,<1.0.0
pydantic
